@using MvcFrameworkApp.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron visible-lg visible-md">
    <h1>ASP.NET Tutorial Project</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>This site is just a sample project demoing and reviewing various aspects of the ASP.NET MVC Framework!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-4">
        <h2>Game Store</h2>
        <p>This site lets you manage video games, customers and rentals as if this software managed a video game rental store.</p>
        <p>Check out the Games, Customers and Rentals links in the nav bar!</p>
    </div>
    <div class="col-sm-12 col-lg-4">
        <h2>ASP.NET MVC</h2>
        <p>To learn more about the technology used to build this sample project follow the link below.</p>
        <a href="https://docs.microsoft.com/en-us/aspnet/mvc/">ASP.NET MVC</a>
    </div>
    <div class="col-sm-12 col-lg-4">
        <h2>Bootstrap Components</h2>
        <p>For additional information on Bootstrap Components follow the link below. You can also search for Bootstrap Themes for many different themes to apply to your own site.</p>
        <a href="https://getbootstrap.com/docs/3.3/components/">Components</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Today is @Html.DisplayFor(model => model.CurrentDate).</p>
        <p>Logged in as @Html.DisplayFor(model => model.User.FirstName).</p>
    </div>
</div>