@using MvcFrameworkApp.Models
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Tutorial Project</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>This site is just a sample project demoing and reviewing various aspects of the ASP.NET MVC Framework!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Game Store</h2>
        <p>This site lets you manage video games and customers as if this software managed a video game rental store.</p>
        <p>Check out the Games and Customers links in the nav bar!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Today is @Html.DisplayFor(model => model.CurrentDate).</p>
        <p>Logged in as @Html.DisplayFor(model => model.User.FirstName).</p>
    </div>
</div>