@model Shared.Models.Game
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Game</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Html.Partial("_NavBar")
    <h2>
        @Model.Name
    </h2>
</body>
</html>
