@model CultureManagerModel

<div>
    <form id="culture-picker">
        <select name="culture" id="culture-options">
            @foreach (var culture in Model.SupportedCultures)
            {
                <option value="@culture.Name" selected="@(Model.CurrentUICulture.Name == culture.Name)">@culture.DisplayName</option>
            }
        </select>
    </form>
</div>

<script>
    document.getElementById("culture-options").addEventListener("change", () => {
        document.getElementById("culture-picker").submit();
    });
</script>