@page "{gameId} "
@model RazorPagesApp.Pages.Games.DeleteModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h2>Delete</h2>
    <div class="alert alert-danger">
        Are you sure that you want to delete @Model.Game.Name?
    </div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-page="Games" class="btn btn-primary">Cancel</a>
    </form>
</body>
</html>
