@page "{gameId:long}"
@model RazorPagesApp.Pages.Games.EditModel
@{
    ViewData["Title"] = "Edit Game";
}

<h2>Editing @Model.Game.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Game.Id" />
    <div class="form-group">
        <label asp-for="Game.Name"></label>
        <input asp-for="Game.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Game.ReleaseDate"></label>
        <input asp-for="Game.ReleaseDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Game.GenreType"></label>
        <select asp-for="Game.GenreType.Name" asp-items="Model.Genres"class="form-control">
            
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>